<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" parallel="tests" thread-count="6">

    <test name="NoPackage">
        <classes>
            <class name="ForgotPasswordTest"/>
            <class name="LogInLogOutTest"/>
        </classes>
    </test>
    </suite>
